{{./noop}}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Create Password</title>
    <link rel="icon" type="image/x-icon" href="https://designreset.com/equation/html/src/assets/img/favicon.ico" />
    <link href="css/semi-dark-menu/css/light/loader.css" rel="stylesheet" type="text/css" />
    <link href="css/semi-dark-menu/css/dark/loader.css" rel="stylesheet" type="text/css" />
    <script src="css/semi-dark-menu/loader.js"></script>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="../css/src/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="../css/semi-dark-menu/css/light/plugins.css" rel="stylesheet" type="text/css" />
    <link href="../css/src/assets/css/light/authentication/auth-boxed.css" rel="stylesheet" type="text/css" />

    <link href="../css/semi-dark-menu/css/dark/plugins.css" rel="stylesheet" type="text/css" />
    <link href="../css/src/assets/css/dark/authentication/auth-boxed.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

</head>

<body class="form">
    <!--  END LOADER -->
    <div class="auth-container d-flex h-100">

        <div class="container mx-auto align-self-center">

            <div class="row">

                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center mx-auto">
                    <div class="card mt-3 mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 mb-3">

                                    <div class="media mb-4">

                                        <div class="media-body align-self-center">

                                            <h3 class="mb-0">Create new password</h3>
                                        </div>
                                    </div>
                                </div>
                                <form method="post" action="/create-password">
                                    <div class="col-12">
                                        <div class="mb-4">
                                            <label class="form-label">Enter your new password</label>
                                            <input type="password" name="password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-4">
                                            <label class="form-label">Confirm Password</label>
                                            <input type="password" name="confirmpassword" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-4">
                                            <button class="btn btn-secondary w-100">CREATE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <a class="btn btn-danger" href="/logout" role="button">Logout</a>

                        </div>
                        
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="css/src/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

</body>

</html>