<div id="content" class="main-content">
    {{!-- Test send  --}}
<form action="http://localhost:3000/staff/addproduct" method="post">
    <input type="hidden" name="productName" value="Product 1">
        <input type="hidden" name="importPrice" value="100.00">
        <input type="hidden" name="retailPrice" value="150.00">
        <input type="hidden" name="brand" value="Brand A">
        <input type="hidden" name="quantityInStock" value="50">
        <input type="hidden" name="quantitySold" value="10">
        <input type="hidden" name="ram" value="8">
        <input type="hidden" name="storage" value="128">
        <input type="hidden" name="color" value="Black">
    <button type="submit">submit</button>
</form>
            <div class="layout-px-spacing">

                <div class="middle-content container-xxl p-0">
    
                    <!-- BREADCRUMB -->
                    <div class="page-meta">
                        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">App</a></li>
                                <li class="breadcrumb-item"><a href="#">Ecommerce</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Shop</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- /BREADCRUMB -->
    
                    <div class="row layout-top-spacing">
                        <div class="col-lg-3 col-md-3 col-sm-3 mb-4">
                            <input id="t-text" type="text" name="txt" placeholder="Search" class="form-control" required="">
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 mb-4 ms-auto">
                            <select class="form-select form-select" aria-label="Default select example">
                                <option selected="">All Category</option>
                                <option value="3">Apperal</option>
                                <option value="1">Electronics</option>
                                <option value="2">Clothing</option>
                                <option value="3">Accessories</option>
                                <option value="3">Organic</option>
                            </select>
                        </div>
    
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 mb-4">
                            <select class="form-select form-select" aria-label="Default select example">
                                <option selected="">Sort By</option>
                                <option value="1">Low to High Price</option>
                                <option value="2">Most Viewed</option>
                                <option value="3">Hight to Low Price</option>
                                <option value="3">On Sale</option>
                                <option value="3">Newest</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        {{#each list}}
                        <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-4">
                            <a class="card style-6" href="#">
                                <span class="badge badge-danger"></span>
                                <img src="{{images}}" class="card-img-top" alt="...">
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <b>{{productName}}</b>
                                        </div>
                                        <div class="col-3">
                                            <div class="badge--group">
                                                <div class="badge badge-danger badge-dot"></div>
                                                <div class="badge badge-success badge-dot"></div>
                                                <div class="badge badge-warning badge-dot"></div>
                                            </div>
                                        </div>
                                        <div class="col-9 text-end">
                                            <div class="pricing d-flex justify-content-end">
                                                <p class="text-success mb-0">{{importPrice}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{/each}}
                    </div>

                </div>
                
            </div>
</div>