<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALLTEL</title>
    <link rel="icon" href="../../img/CALLTEL.png">

    <link href="../../css/semi-dark-menu/css/light/loader.css" rel="stylesheet" type="text/css" />
    <link href="../../css/semi-dark-menu/css/dark/loader.css" rel="stylesheet" type="text/css" />
    <script src="../../css/semi-dark-menu/loader.js"></script>

    

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="../../css/src/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../css/semi-dark-menu/css/light/plugins.css" rel="stylesheet" type="text/css" />
    <link href="../../css/semi-dark-menu/css/dark/plugins.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="../../css/src/plugins/src/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="../../css/src/assets/css/light/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
    <!-- <link href="../../css/src/assets/css/light/widgets/modules-widgets-vlm.css" rel="stylesheet" type="text/css" /> -->
    <link href="../../css/src/assets/css/dark/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
    <!-- <link href="../../css/src/assets/css/dark/widgets/modules-widgets-vlm.css" rel="stylesheet" type="text/css" /> -->

    <link rel="stylesheet" href="../../css/src/plugins/src/filepond/filepond.min.css">
    <link rel="stylesheet" href="../../css/src/plugins/src/filepond/FilePondPluginImagePreview.min.css">
    <link href="../../css/src/plugins/src/notification/snackbar/snackbar.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../css/src/plugins/src/sweetalerts2/sweetalerts2.css">

    <link href="../../css/src/plugins/css/light/filepond/custom-filepond.css" rel="stylesheet" type="text/css" />
    <link href="../../css/src/assets/css/light/components/tabs.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../css/src/assets/css/light/elements/alert.css">

    <link href="../../css/src/plugins/css/light/sweetalerts2/custom-sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="../../css/src/plugins/css/light/notification/snackbar/custom-snackbar.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" type="text/css" href="../../css/src/assets/css/light/forms/switches.css">
    <link href="../../css/src/assets/css/light/components/list-group.css" rel="stylesheet" type="text/css">

    <link href="../../css/src/assets/css/light/users/account-setting.css" rel="stylesheet" type="text/css" />



    <link href="../../css/src/plugins/css/dark/filepond/custom-filepond.css" rel="stylesheet" type="text/css" />
    <link href="../../css/src/assets/css/dark/components/tabs.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../css/src/assets/css/dark/elements/alert.css">

    <link href="../../css/src/plugins/css/dark/sweetalerts2/custom-sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="../../css/src/plugins/css/dark/notification/snackbar/custom-snackbar.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" type="text/css" href="../../css/src/assets/css/dark/forms/switches.css">
    <link href="../../css/src/assets/css/dark/components/list-group.css" rel="stylesheet" type="text/css">

    <link href="../../css/src/assets/css/dark/users/account-setting.css" rel="stylesheet" type="text/css" />

    <link href="../../css/semi-dark-menu/css/dark/structure-mod.html" rel="stylesheet" type="text/css" />
    <link href="../../css/semi-dark-menu/css/light/structure-mod.html" rel="stylesheet" type="text/css" />



    <link rel="stylesheet" href="../../css/src/assets/css/light/apps/ecommerce-create.css">
    <link rel="stylesheet" href="../../css/src/assets/css/dark/apps/ecommerce-create.css">

    
    <link href="../../css/src/assets/css/light/components/modal.css" rel="stylesheet" type="text/css">
    <link href="../../css/src/assets/css/light/apps/contacts.css" rel="stylesheet" type="text/css" />
    <link href="../../css/src/assets/css/dark/components/modal.css" rel="stylesheet" type="text/css">
    <link href="../../css/src/assets/css/dark/apps/contacts.css" rel="stylesheet" type="text/css" />


    {{!-- Pagination --}}
    <link href="../../css/src/assets/css/light/elements/custom-pagination.css" rel="stylesheet" type="text/css" />
    <link href="../../css/src/assets/css/dark/elements/custom-pagination.css" rel="stylesheet" type="text/css" />


    {{!-- Search --}}

    <link href="../../css/src/assets/css/light/elements/search.css" rel="stylesheet" type="text/css" />
    <link href="../../css/src/assets/css/dark/elements/search.css" rel="stylesheet" type="text/css" />



    {{!-- Invoice --}}
    <link href="../../css/src/assets/css/light/apps/invoice-preview.css" rel="stylesheet" type="text/css" />
    <link href="../../css/src/assets/css/dark/apps/invoice-preview.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../../css/src/plugins/src/table/datatable/datatables.css">
    
    <link rel="stylesheet" type="text/css" href="../../css/src/plugins/css/light/table/datatable/dt-global_style.css">
    <link href="../../css/src/assets/css/light/apps/invoice-list.css" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" type="text/css" href="../src/plugins/css/dark/table/datatable/dt-global_style.css">
    <link href="../../css/src/assets/css/dark/apps/invoice-list.css" rel="stylesheet" type="text/css" />

    
        <link href="../../css/src/plugins/css/light/apex/custom-apexcharts.css" rel="stylesheet" type="text/css">
    <link href="../../css/src/plugins/css/dark/apex/custom-apexcharts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">



    


</head>

<body class="layout-boxed">
    <!-- BEGIN LOADER -->
    {{!-- <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div> --}}
        {{>sidebar}}
        {{#if success_msg}}
                <input type="hidden" id="success_msg" value="{{success_msg}}">
                <script>
                    window.onload = function() {
                        const success_msg = document.getElementById('success_msg').value;
                        if (success_msg) {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'bottom-start',
                                showConfirmButton: false,
                                timer: 2500,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                            })
                                
                            Toast.fire({
                                icon: 'success',
                                title: success_msg
                            })
                        }
                    }
                </script>
            {{/if}}
        {{#if error_msg}}
                <input type="hidden" id="error_msg" value="{{success_msg}}">

                <script>
                    window.onload = function() {
                        const success_msg = document.getElementById('error_msg').value;
                        if (success_msg) {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'bottom-start',
                                showConfirmButton: false,
                                timer: 2500,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                            })
                                
                            Toast.fire({
                                icon: 'error',
                                title: error_msg
                            })
                        }
                    }
                </script>
        {{/if}}
    {{>navbar}}

    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="cs-overlay"></div>
        <div class="search-overlay"></div>


        {{{body}}}

    </div>


    
    <script src="../../css/src/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../css/src/plugins/src/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../css/src/plugins/src/mousetrap/mousetrap.min.js"></script>
    <script src="../../css/src/plugins/src/waves/waves.min.js"></script>
    <script src="../../css/semi-dark-menu/app.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>

    {{!-- <script src="../../css/src/plugins/src/apex/apexcharts.min.js"></script> --}}
    <script src="../../css/src/assets/js/dashboard/dash_1.js"></script>


    <script src="../../css/src/plugins/src/filepond/filepond.min.js"></script>
    <script src="../../css/src/plugins/src/filepond/FilePondPluginFileValidateType.min.js"></script>
    <script src="../../css/src/plugins/src/filepond/FilePondPluginImageExifOrientation.min.js"></script>
    <script src="../../css/src/plugins/src/filepond/FilePondPluginImagePreview.min.js"></script>
    <script src="../../css/src/plugins/src/filepond/FilePondPluginImageCrop.min.js"></script>
    <script src="../../css/src/plugins/src/filepond/FilePondPluginImageResize.min.js"></script>
    <script src="../../css/src/plugins/src/filepond/FilePondPluginImageTransform.min.js"></script>
    <script src="../../css/src/plugins/src/filepond/filepondPluginFileValidateSize.min.js"></script>
    <script src="../../css/src/plugins/src/notification/snackbar/snackbar.min.js"></script>
    <script src="../../css/src/plugins/src/sweetalerts2/sweetalerts2.min.js"></script>
    <script src="../../css/src/assets/js/users/account-settings.js"></script>



    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="../../css/src/assets/js/dashboard/dash_1.js"></script>
    <script src="../../css/src/assets/js/custom.js"></script>
    <script src="../../css/src/plugins/src/jquery-ui/jquery-ui.min.js"></script>
    <script src="../../css/src/assets/js/apps/contact.js"></script>

    <script src="../../css/src/assets/js/elements/custom-search.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {{!-- Invoice --}}
    <script src="../../css/src/plugins/src/table/datatable/datatables.js"></script>
    <script src="../../css/src/plugins/src/table/datatable/button-ext/dataTables.buttons.min.js"></script>
    <script src="../../css/src/assets/js/apps/invoice-list.js"></script>
    <script src="../../css/src/assets/js/apps/invoice-preview.js"></script>

    <script src="../../css/src/plugins/src/apex/apexcharts.min.js"></script>





    <script>
        // When a menu item is clicked
        $('.menu a').on('click', function (e) {
            // Store the href of the clicked link in local storage
            localStorage.setItem('activeMenu', $(this).attr('href'));
        });

        // When the page loads
        $(document).ready(function () {
            // Get the active menu item from local storage
            var activeMenu = localStorage.getItem('activeMenu');

            // If there is an active menu item stored
            if (activeMenu) {
                // Remove the 'active' class from all menu items
                $('.menu').find('.active').removeClass('active');

                // Add the 'active' class to the stored menu item
                $('.menu a[href="' + activeMenu + '"]').parent().addClass('active');
            }
        }); 
    </script>
</body>

</html>